header {
        display: grid;
        grid-template-columns: 1fr min-content 1fr;
        align-items: center;
        padding: 92px 50px 96px 50px;
}

.nav_list {
        display: flex;
        gap: 32px;
        list-style: circle;
        font-size: 18px;
        font-weight: 400;

}

.header_links-list-item_no-bullit {
        list-style: none;
}

.active_link {
        text-decoration: none;
}

.header_logo {
        display:block;
        width: 130px;
        height: 105px;
}

.header_logo img {
        width: 100%;
        height: 100%;
}

address {
        display: flex;
        flex-direction: column;
        max-width: 240px;
        justify-self: end;
        align-items: flex-start;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
}

.cover {
        background-image: url('../images/cover.jpg');
        min-height: 757px;
        background-size: cover;
        background-position: center;
        position: relative;
}

.overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 / 0.6);
        z-index: 0;
}

.cover_title {
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        font-size: 100px;
        font-weight: 700;
        letter-spacing: 0.3em;
        line-height: 115%;
        color: #fff;
        margin: 0 50px ;
        padding: 165px 0 0 0;
        width: 1000px;



}

.cover_title span {
        margin-right: -0.3em;
        margin-bottom: 20px;
        z-index: 2;
}

.text_left {
        align-self: flex-start;

}

.text_center {
        align-self: center;
}

.text_right {

        align-self: flex-end;
        padding-bottom: 0;
}

.description {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 80px 50px 50px 50px;

}

.description-text {
        color: #FFFFFF;
        font-weight: 400;
        font-size: 22px;
        line-height: 28px;
        text-transform: uppercase;
        z-index: 2;
        word-spacing: 20px ;
}

.bet-button {
        border: 1px solid #fff;
        background-color: transparent;
        color: #fff;
        width: 256px;
        height: 51px;
        font-weight: 500;
        font-size: 22px;
        text-transform: uppercase;
        letter-spacing: 0;
        z-index: 2;
}


.lots {
        padding: 180px 24px 120px 24px ;
}

.lots-title {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 40px;
        margin-bottom: 27px;
        margin-left: 40px;
}

.card_list {
        list-style: none;
        display: flex;
        gap: 25px;
        flex-wrap: wrap;
        margin-bottom: 30px;
}

.card_list li {
        width: 334px;
        min-height: 596px;
}

.card_list a article {
        height: 100%;
}

.card {
        background-size: cover;
        background-position: center center;
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 50px 40px;
        justify-content: space-between;
}

.card_film {
        background-image: url('../images/card-lot-01.jpg');
}

.card_title {
        text-decoration: underline solid #FFFFFF;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 22px;
        z-index: 1;

}

.card_text {
        color: #fff;
        font-weight: 400;
        font-size: 20px;
        z-index: 1;
}

.card_book {
        background-image: url('../images/card-lot-02.jpg');

}

.card_paint {
        background-image: url('../images/card-lot-03.jpg');
}

.see_more {
        font-weight: 400;
        font-size: 20px;
        color: #000;
        margin-top: 30px;
        margin-left: 40px;
}

.about {
        margin: 35px 24px 180px 24px ;
}

.about_column {
        display: grid;
        grid-template-columns: 334px 1fr;
        justify-items: center;
        grid-template-areas:
                "logo about_title"
                ". about_text"
                ;
        gap: 24px;
}

.logo {
        grid-area: logo;
        background-color: #000000;
        width: 240px;
        height: 240px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
}

.image_logo {
        width: 148px;
        height: 114px;
}

.about_title {
        grid-area: about_title;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 40px;
        align-self: center;
        justify-self: start;
}

.about_text {
        font-weight: 400;
        font-size: 20px;
        grid-area: about_text;
        display: flex;
        flex-direction: column;
        gap: 24px;

        /*margin-top: -16px;*/
}
/*
.first {
        grid-area: first;
        margin-top: -16px;
}

.second {
        grid-area: second;
}
*/
.footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        margin-bottom: 82px;


}

.footer_address {
        padding-left: 50px;
        justify-self: start;

}

.nav_footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 18px;
        font-weight: 400;
        list-style: none;
}

.footer_social-list {
        list-style: none;
        display: flex;
        gap: 48px;
        margin-left: 20px;
}

.footer_social-icon {
        width: 48px;
        height: 48px;
}